pkgbase = php72-noconflict
	pkgdesc = php 7.2 compiled as to not conflict with php 7.3+
	pkgver = 7.2.13
	pkgrel = 1
	url = http://www.php.net
	arch = i686
	arch = x86_64
	license = PHP
	makedepends = apache
	makedepends = aspell
	makedepends = c-client
	makedepends = db
	makedepends = enchant
	makedepends = gd
	makedepends = gmp
	makedepends = icu
	makedepends = libmcrypt
	makedepends = libxslt
	makedepends = libzip
	makedepends = net-snmp
	makedepends = postgresql-libs
	makedepends = sqlite
	makedepends = systemd
	makedepends = tidy
	makedepends = unixodbc
	makedepends = curl
	makedepends = libtool
	makedepends = freetds
	makedepends = pcre
	source = https://php.net/distributions/php-7.2.13.tar.xz
	source = https://php.net/distributions/php-7.2.13.tar.xz.asc
	source = apache.patch
	source = apache.conf
	source = php-fpm.patch
	source = php-fpm.tmpfiles
	source = php.ini.patch
	source = enchant-2.patch
	source = php-freetype-2.9.1.patch
	validpgpkeys = A917B1ECDA84AEC2B568FED6F50ABC807BD5DCD0
	validpgpkeys = 528995BFEDFBA7191D46839EF9BA0ADA31CBD89E
	validpgpkeys = 1729F83938DA44E27BA0F4D3DBDB397470D12172
	sha512sums = 9df1d43e9cd701db10281811b328721b85cb90c6c8dae1842b0fd848cb5388328918b3040bbad7634b340550d82b93746ea479ed45f4d8a80e8a316e6324115d
	sha512sums = aea6cfe3a767660f4383fb067a3d3c0f7c6fa0ea1670f5306ae4dadc161884c52a94ffd171fb9349de96f0d3d9af91d629d49f9b386de56e1c12333c067596a8
	sha512sums = df278ee66b86b424fd10770240801414fccd930874ce600d868a130f20780cda9b89a3b3d4f1ebf501dcdc6ea3d62a1429d2690aefb125ad30f6dc193bd6fde5
	sha512sums = eccbe1a0c7b2757ab3c982c871cc591a66ad70f085aaa0d44f93cacacedc7b8fd21b8d0c66471327ff070db1bab1ab83a802f6fa190f33bdd74c134975e3910e
	sha512sums = 6d6c8dd77cef948b73c32d03645abd478543acba81827ded19b70dca208636222901e5311a8ac1fd28c21b7c99624e3476e20f73fa6659e7699f39abfcfc8422
	sha512sums = 3c78a52af31be5393844765064966e9dfbdd96ca87ae29f923b41999636f4481784b296689914092965b122c6765ed719664a6d090525b4426e07cdd781608a4
	sha512sums = db9e0323f8b78573448119edaf0ace8378df4d76c881d4bd564a165bbee686bebde662e194851131fab193e62a03019873fc8be07ed78e8ad08d577ad261909f
	sha512sums = e5b022ff561c4c2d27965b6e2305807f0c0e05490df017942fa6880731b64e7f695ad808c5bb5259d105b54c4ab275835182c70ffe276bb8ad74e51c5b2a2421
	sha512sums = 0a06189f6fb3513cd2dcf9ddb590360475e2dd9a7aa8b13ab66c389c1ed40ce2361681f017cd3c6219f5b40a0a9d4978e57ca3ee4bacb7657db3285136fd2875

pkgname = php72-noconflict
	pkgdesc = A general-purpose scripting language that is especially suited to web development
	depends = libxml2
	depends = curl
	depends = libzip
	depends = pcre
	provides = php=7.2.13
	backup = etc/php72/php.ini

pkgname = php72-cgi-noconflict
	pkgdesc = CGI and FCGI SAPI for PHP
	depends = php72-noconflict
	provides = php-cgi=7.2.13

pkgname = php72-apache-noconflict
	pkgdesc = Apache SAPI for PHP
	depends = php72-noconflict
	depends = apache
	provides = php-apache=7.2.13
	backup = etc/httpd/conf/extra/php72_module.conf

pkgname = php72-fpm-noconflict
	pkgdesc = FastCGI Process Manager for PHP
	depends = php72-noconflict
	depends = systemd
	provides = php-fpm=7.2.13
	options = !emptydirs
	backup = etc/php72/php-fpm.conf
	backup = etc/php72/php-fpm.d/www.conf

pkgname = php72-embed-noconflict
	pkgdesc = Embedded PHP SAPI library
	depends = php72-noconflict
	depends = libsystemd
	provides = php-embed=7.2.13
	options = !emptydirs

pkgname = php72-phpdbg-noconflict
	pkgdesc = Interactive PHP debugger
	depends = php72-noconflict
	provides = php-phpdbg=7.2.13
	options = !emptydirs

pkgname = php72-dblib-noconflict
	pkgdesc = dblib module for PHP
	depends = php72-noconflict
	depends = freetds
	provides = php-dblib=7.2.13

pkgname = php72-enchant-noconflict
	pkgdesc = enchant module for PHP
	depends = php72-noconflict
	depends = enchant
	provides = php-enchant=7.2.13

pkgname = php72-gd-noconflict
	pkgdesc = gd module for PHP
	depends = php72-noconflict
	depends = gd
	provides = php-gd=7.2.13

pkgname = php72-imap-noconflict
	pkgdesc = imap module for PHP
	depends = php72-noconflict
	depends = c-client
	provides = php-imap=7.2.13

pkgname = php72-intl-noconflict
	pkgdesc = intl module for PHP
	depends = php72-noconflict
	depends = icu
	provides = php-intl=7.2.13

pkgname = php72-odbc-noconflict
	pkgdesc = ODBC modules for PHP
	depends = php72-noconflict
	depends = unixodbc
	provides = php-odbc=7.2.13

pkgname = php72-pgsql-noconflict
	pkgdesc = PostgreSQL modules for PHP
	depends = php72-noconflict
	depends = postgresql-libs
	provides = php-pgsql=7.2.13

pkgname = php72-pspell-noconflict
	pkgdesc = pspell module for PHP
	depends = php72-noconflict
	depends = aspell
	provides = php-pspell=7.2.13

pkgname = php72-snmp-noconflict
	pkgdesc = snmp module for PHP
	depends = php72-noconflict
	depends = net-snmp
	provides = php-snmp=7.2.13

pkgname = php72-sqlite-noconflict
	pkgdesc = sqlite module for PHP
	depends = php72-noconflict
	depends = sqlite
	provides = php-sqlite=7.2.13

pkgname = php72-tidy-noconflict
	pkgdesc = tidy module for PHP
	depends = php72-noconflict
	depends = tidy
	provides = php-tidy=7.2.13

pkgname = php72-xsl-noconflict
	pkgdesc = xsl module for PHP
	depends = php72-noconflict
	depends = libxslt
	provides = php-xsl=7.2.13

